input {
  width: 50%;
  margin: 3px;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
button {
  margin: 5px;
  box-shadow: 4px 4px 4px #383838 !important; 
  border: 1px solid #383838;
}
.card {
  background-color: rgb(255, 255, 255, .35);
  padding: 10px;
  margin: 5px;
  box-shadow: 4px 4px 4px #383838;
  border: 1px solid #383838;
}
.card button {
  width: 150px;
}
h4, h5 {
  margin-top: 10px;
}
h4:hover {
  background-color: rgb(255, 255, 255, .35);
}
